<div *ngIf="user">
<h2>Continue shopping !</h2>
      <h3>Your Cart</h3>
      <ul>
        <li *ngFor="let cartitem of cart_detailed">
            <!--<img [src]="cartitem[0].imageurls[0]", alt="">-->
            <img [src]="cartitem.product.imageurls[0]" alt="{{ cartitem.product.name }}" />
         {{ cartitem.product.name }} 
         <button (click)="updateCount(user.email,cartitem.cart.objectId,cartitem.cart.count-1)"> - </button> 
         x{{ cartitem.cart.count }} 
         <button (click)="updateCount(user.email,cartitem.cart.objectId,cartitem.cart.count+1)"> + </button> 
         available stock :{{ cartitem.product.stock }}
        </li>
      </ul>
    </div>
  <div *ngIf="!user">
    <p>User information is not available. Please log in.</p>
  </div>
