<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div *ngIf="user" class="cart-container">
  <h2>Continue shopping!</h2>
  <div *ngIf="cart_detailed.length > 0; else cartnotavailable">
  <h3>Your Cart</h3>
  <ul>
    <li *ngFor="let cartitem of cart_detailed">
      <input type="checkbox" [(ngModel)]="cartitem.checked" (change)="onCheckboxChange(cartitem)" />
      <img [src]="cartitem.product.imageurls[0]" alt="{{ cartitem.product.name }}" />
      {{ cartitem.product.name }}
      <button [disabled]="cartitem.cart.count==1" (click)="Reducecount(cartitem.cart.objectId, cartitem.cart.count)">-</button>
      x{{ cartitem.cart.count }}
      <button (click)="Addcount(cartitem.cart.objectId, cartitem.cart.count)">+</button>
      Stock: {{ cartitem.product.stock }}
      <button (click)="RemoveItem(cartitem.cart.objectId)"><i class="material-icons" style="font-size: 16px;">&#xe872;</i></button>
    </li>
  </ul>
  <div class="total-price">
    Total price: {{Total_price}}
  </div>
  <div class="purchase-button">
    <button [disabled]="!isPurchasable()||Total_price===0">Purchase</button>
  </div>
</div>
<ng-template #cartnotavailable> 
  <h4>Your Cart is empty</h4>
  <button routerLink="/products">Add Products</button>
</ng-template>
</div>
<div *ngIf="!user" class="login-prompt">
  <p>User information is not available. Please log in.</p>
</div>