.product-details {
    margin-top: 10px;
    text-align: center;
  }

  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    height: 300px;
    width: 300px;
  }
  
  .image-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(124, 46, 121, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .image-container button:hover {
    background-color: rgba(143, 34, 114, 0.7);
  }
  
  .image-container button:first-of-type {
    left: 0;
  }
  
  .image-container button:last-of-type {
    right: 0;}

    /* Style the buttons */
    button {
      background-color: #9e229e;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
      margin-left: 5px;
      transition: background-color 0.3s;
    }
    
    button:hover {
      background-color: #7e1c7e;
    }
    
    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }