<div *ngIf="product" class="product-details">
    <h1>{{product.name}}</h1>
    <p>Stock: {{ product.stock }}</p>
    <div class="image-container">
      <button (click)="prevImage()"><</button>
      <img [src]="product.imageurls[currentImageIndex]" alt="{{ product.name }}" />
      <button (click)="nextImage()">></button>
    </div>
    <div *ngIf="!is_already_in_Cart(); else elseBlock">
      <button (click)="AddToCart()">Add to Cart</button>
    </div>
    <ng-template #elseBlock>
      <div>
        <button (click)="RemoveFromCart()">Remove from Cart</button>
      </div>
    </ng-template>

    <p>{{ product.price | lkrFormatter }}</p>




    <div>
      
    </div>
    
  </div>